#page_RegistrationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
#page_RegistrationForm .registerform {
  background: #1e1e20;
  border-radius: 15px;
  border: #fff solid 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  padding: 25px;
}
#page_RegistrationForm h1 {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
#page_RegistrationForm label {
  display: block;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}
.registerform label a {
  color: #1e90ff; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

#page_RegistrationForm input[type="text"],
#page_RegistrationForm input[type="email"],
#page_RegistrationForm input[type="password"],
#page_RegistrationForm select {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.7);
  margin-bottom: 15px;
}
#page_RegistrationForm .password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 103%;
}
#page_RegistrationForm .password-container .eye-icon {
  position: absolute;
  left: 90%; /* Adjust as needed */
  bottom: -15%;
  cursor: pointer;
  color: black;
  font-size: 20px;
  z-index: 2;
}
#page_RegistrationForm select {
  width: 103.1%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
#page_RegistrationForm .form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#page_RegistrationForm .error-message {
  color: red; 
  font-size: 18px; 
  text-align: center;
  font-weight: bold; 
  width: 100%;
  margin-bottom: 4%;
}
#page_RegistrationForm button {
  width: 90%;
  padding: 3.5% 0;
  text-align: center;
  margin: 15px 5px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 90%;
  border: 2px solid #2922a5;
  background: #1e4c98;
  color: white;
  cursor: pointer;
  position: relative;
  left: 4%;
  overflow: hidden;
  transition: transform 0.5s, border 0.5s;
}
#page_RegistrationForm span {
  background: #3275e2;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
#page_RegistrationForm button:hover span {
  width: 100%;
}
#page_RegistrationForm button:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #page_RegistrationForm .registerform {
    max-width: 60%;
    padding: 20px;
  }
  #page_RegistrationForm h1 {
    font-size: 24px;
  }
  #page_RegistrationForm label {
    font-size: 16px;
  }
  #page_RegistrationForm input[type="text"],
  #page_RegistrationForm input[type="email"],
  #page_RegistrationForm input[type="password"],
  #page_RegistrationForm select {
    width: calc(100% - 20px);
    padding: 8px;
  }
  #page_RegistrationForm .password-container {
    width: 100%;
  }
  #page_RegistrationForm .password-container .eye-icon {
    left: 85%;
    bottom: -10%;
  }
  #page_RegistrationForm select {
    width: 100%;
  }
  #page_RegistrationForm button {
    width: 100%;
    left: 0;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  #page_RegistrationForm .registerform {
    max-width: 60%; /* Reduced width */
    padding: 15px;
  }
  #page_RegistrationForm h1 {
    font-size: 20px;
  }
  #page_RegistrationForm label {
    font-size: 14px;
  }
  #page_RegistrationForm input[type="text"],
  #page_RegistrationForm input[type="email"],
  #page_RegistrationForm input[type="password"],
  #page_RegistrationForm select {
    width: calc(100% - 20px);
    padding: 6px;
  }
  #page_RegistrationForm .password-container .eye-icon {
    left: 85%; /* Moved slightly to the right */
    bottom: -10%;
  }
  #page_RegistrationForm select {
    width: 98%;
  }
  #page_RegistrationForm button {
    width: 100%;
    left: 0;
    margin: 10px 0;
  }
}