#page_WeightProgress .weight-container {
  padding: -0.1%;
  width: 50%;
  height: 70%;
  margin: 0 auto;
  background-color: #ffffff; /* Dark background */
  border-radius: 15px;
  border: 5px solid #2922a5;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Consistent shadow effect */
  position: absolute;
  left: 40%;
  bottom: 15%;
}
#page_WeightProgress h1 {
  font-size: 24px;
  color: rgb(0, 0, 0); /* White text to match the dark theme */
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
#page_WeightProgress .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
#page_WeightProgress .weight-input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #ffffff; /* Dark input background */
  color: black; /* White text inside input */
  position: absolute;
  left: 5%;
  bottom: 85%;
}


/*Submit weight into graph button*/
#page_WeightProgress button {
  padding: 10px 20px;
  background-color: #1e4c98; /* Matching button background */
  color: white;
  border: 2px solid #2922a5; /* Blue border */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  transition: transform 0.5s, border 0.5s;
}
#page_WeightProgress .submit-button {
  position: absolute;
  left: 5%;
  bottom: 75%;
}
#page_WeightProgress button:hover {
  background-color: #1e4c98;
  transform: scale(1.05);
  transition: transform 0.5s;
}
#page_WeightProgress button:hover span {
  width: 100%;
}
#page_WeightProgress button span {
  background: #3275e2; 
  height: 100%;
  width: 0%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

/*More info button*/
#page_WeightProgress .toggle-button {
  position: absolute;
  left: 19.5%;
  bottom: 75%;
}

/*Error message styling*/
#page_WeightProgress .error-message {
  color: red; 
  font-size: 18px; 
  text-align: center;
  font-weight: bold; 
  position: absolute;
  left: 10%;
  bottom: 89%;
}
/*Stats(min,max,average)*/
#page_WeightProgress .stats {
  padding: 3%;
  margin: 0 auto;
  background-color: #1e4c98;
  color: white; /* Dark background */
  border-radius: 15px;
  border: #2922a5 solid 5px;
  position: absolute;
  bottom: 76%;
  left: 70%;
}

/*weight conteiner near graph*/
#page_WeightProgress .weight-text-container {
  width: 350px;
  height: 500px;
  background-color: #1e1e20;
  border: #fff solid 5px;
  border-radius: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  bottom: 17%;
}
#page_WeightProgress .news-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px #ffffff solid;
  position: absolute;
  left: -10%;
  bottom: 85%;
}
#page_WeightProgress .greetings {
  text-align: center;
  position: absolute;
  left: 5%;
  bottom: 85%;
  width: 100%;
  color: white;
}
/* Style for weight tracking messages */
#page_WeightProgress .personalized-message {
  margin-top: 30%;
}
#page_WeightProgress .weight-message {
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
  color: #ffffff;
  padding: 1px;
  margin-bottom: 5%;
  border: 3px solid #ffffff;
  background-color: #3e3e42;
}
#page_WeightProgress .weight-message-positive {
  background-color: #19c842;
  color: #ffffff;
  border: 3px solid #ffffff;
}
#page_WeightProgress .weight-message-negative {
  background-color: #e40b0b;
  color: #ffffff;
  border: 3px solid #ffffff;
}
#page_WeightProgress .weight-message-neutral {
  background-color: #dbad16;
  color: #ffffff;
  border: 3px solid #ffffff;
}
#page_WeightProgress .weight-message p {
  margin: 3% 0;
}
#page_WeightProgress .weight-message span {
  font-weight: bold;
  color: #4b4b4b;
}
#page_WeightProgress .icon {
  font-size: 150%;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  #page_WeightProgress .weight-container {
    width: 85vw;
    height: auto;
    left: 2.5%;
    bottom: 2.5%;
    padding: 10px;
    transform: translateY(-40vh);
  }
  #page_WeightProgress h1 {
    font-size: 18px;
  }
  #page_WeightProgress .input-container {
    flex-direction: column;
    gap: 3px;
  }
  #page_WeightProgress .weight-input {
    width: 15rem;
    left: 15vw;
    bottom: 23vh;
  }
  #page_WeightProgress .submit-button {
    left: 7.5%;
    bottom: 55%;
  }
  #page_WeightProgress .toggle-button {
    left: 65%;
    bottom: 55%;
  }
  #page_WeightProgress .stats {
    width: 85vw;
    left: -0vw;
    bottom: -11.5vh;
    margin-top: 15px;
  }
  #page_WeightProgress .weight-text-container {
    overflow: auto;
    width: 95vw;
    height: auto;
    left: 2.5%;
    padding: 15px;
    transform: translateY(80vh);
    padding-bottom: 100%;
  }
  #page_WeightProgress .news-image {
    width: 4rem;
    height: 4rem;
    left: 2.5vw;
    bottom: auto;
  }
  #page_WeightProgress .greetings {
    left: 7vw;
    bottom: auto;
    width: 95%;
  }
  #page_WeightProgress .weight-message {
    font-size: 13px;
    padding: 8px;
  }
  #page_WeightProgress .error-message {
    left: 30%;
    bottom: 89%;
  }
  #page_WeightProgress .weight-message p {
    margin: 4% 0;
  }
  #page_WeightProgress .weight-message span {
    font-size: 12px;
  }
  #page_WeightProgress .icon {
    font-size: 110%;
  }
}